:root {
  --primcolor: #7ed3b2;
  --secondcolor: #b9e6d3;
}

.hero-title {
  font-size: 42px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
}
.hero-description {
  line-height: 3;
  font-weight: 300;
  color: #f0f0f0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
}

/* Content */
.main-content {
  box-sizing: border-box;
  padding: 40px 0;
}
.content {
  /* display: block; */
  /* margin: 0 auto; */
  /* background: yellow; */
  /* width: 600px; */
  /* text-align: center; */
}
.content h2 {
  position: relative;
  color: #131313;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5;
  /* opacity: .7; */
}

/* Splash page */
.splash-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--primcolor);
  /* background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%); */
}
.splash-page h1 {
  font-size: 54px;
  font-weight: bold;
}

/* List Surah */
.list-surah {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: salmon; */
  padding: 20px 20px;
  box-sizing: border-box;
  margin: 3px 0;
  text-decoration: none !important;
  border-radius: 3px;
  text-align: left;
}
.list-surah p {
  color: var(--primcolor);
  font-weight: bold;
}
.list-surah h3 {
  color: var(--primcolor);
  font-size: 18px;
  font-weight: bold;
}
.list-surah:hover {
  color: #fff !important;
  background-color: #f2f4fb;
  /* background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, # 100%); */
}

/* Footer */
footer {
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
}
footer code {
  font-size: 12px;
  font-family: "Roboto Mono", Courier, monospace;
}

/* Detail Surat */
.detail-surat p {
  display: block;
  margin: 0 auto;
  color: white;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  opacity: 0.8;
  margin: 20px 0 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
}

.notfound-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.notfound-page h1 {
  font-size: 42px;
  color: #444444;
  font-weight: 700;
  line-height: 100px;
}
.notfound-page-img {
  width: 300px;
  max-width: 300px;
  margin-bottom: 40px;
}
.notfound-page-img img {
  width: 100%;
}

.surat-box {
  margin-bottom: 50px;
  padding: 10px 55px;
  box-sizing: border-box;
}
.surat-nomor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--primcolor);
  color: white;
  box-sizing: border-box;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  font-weight: bold;
}
